*.pyc
.idea*
*.aux
*.log
*.pdf
*.gz
src/__pycache__/
*.bbl
*.blg
notes/symm_NNNotes.bib
*.dvi
.ipynb_checkpoints/
*digit_6.png
notes/future_ideasNotes.bib
*.out
JMLR_format_example/
notes/cover_letter.tex
